doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='shortcut icon' href='img/favicon.ico')
  link(rel='stylesheet', href='/css/utilities.css')
  link(rel='stylesheet', href='/css/style.css')
  script(src='https://kit.fontawesome.com/ba48108ed1.js' crossorigin='anonymous')
  title Iowa City Tenants Union | Housing is a Human Right
.wrapper
  // Navbar
  .navbar
    .container.flex
      a(href='/')
        img.logo(src='/img/unionpic.jpg' alt='Iowa City Tenants Union')
      nav.nav
        ul
          li
            a(href='/') Home
          li
            a(href='/about') About Us
          li
            a(href='/resources') Tenant Resources
          li
            a(href='/ratings') Landlord Reviews
  // Showcase
  section.showcase.about-showcase.b-top
    .container.flex
      h1.mb-2 Add a New Review
    if messages.length > 0
        each m in messages
          .container.flex.temp
            p.alert-msg #{m}
    .container.flex
      form(method="POST", action='/ratings')
        
        .container.flex
          label(for='landlord').flex-col Landlord:
          input#landlord(type='text' name='landlord' value='').flex-col-lg.form-control.my-1
        .container.flex
          label(for='stars').flex-col Rating:
          select#stars(name='stars').flex-col-lg.form-control.my-1
            option(disabled='' value='' selected) Rate 1-5
            option(value='1') 1
            option(value='2') 2
            option(value='3') 3
            option(value='4') 4
            option(value='5') 5
        .container.flex
          label(for='email') Enter your email:
          input#email(type='email' name='email' placeholder='example@email.com').flex-col-lg.form-control.my-1.email
        .container.flex
          label(for='description').flex-col Description:
          textarea#description(name='description').flex-col-lg.form-control.my-1
        .container.flex
          a.btn.btn-blk-outline.m-2(href='/ratings') Back to Reviews
          input.btn.btn-primary.sub-btn(type='submit', value='Submit Review')
        .container.flex 
          p.text-sm (Our board will verify your review within 24 hours)
  footer.footer.bg-dark.py-4
    .container.grid.grid-3
      div
        h2 Iowa City Tenants Union
        p Copyright &copy; 2020
      nav
        ul
          li
            a(href='/') Home
          li
            a(href='/about') About Us
          li
            a(href='/resources') Tenant Resources
          li
            a(href='ratings') Landlord Reviews
      .social.text-center
        a.mx-1(href='https://mail.google.com/mail/?view=cm&source=mailto&to=iowacitytenantsunion@gmail.com' target='_blank')
          i.fas.fa-envelope.fa-2x
        a.mx-1(href='https://www.facebook.com/IowaCityTenantsUnion' target='_blank')
          i.fab.fa-facebook.fa-2x
        a.mx-1(href='https://twitter.com/ICTenantsUnion' target='_blank')
          i.fab.fa-twitter.fa-2x
script(src='/js/addrating.js')
