@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary-color: #f26724;
    --blue-complimentary: #188EF2;
    --white: #fff;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --complimentary-red: #DB3B16;
}

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
html {
    min-height: 100%;
    position: relative;
}
.body {
    color: #333;
    line-height: 1.6;
}
ul {
    list-style-type: none;
}


a {
    text-decoration: none;
    color: #333;
}

h1, h2, h3{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

.wrapper {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 180px; /* height of your footer */
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo {
    height: 60px;
    width: auto;
}

/* Navbar */
.navbar {
    margin: 5px;
    background-color: var(--white);
    color: var(--darks-color);
    height: 70px;
}

.navbar ul {
    display: flex;
}

.nav a {
    color: var(--dark-color);
    padding: 10px;
    margin: 0 5px;
    font-weight: bold;
}

.nav a:hover {
    border-bottom: 2px var(--primary-color) solid;
}

.navbar .flex {
    justify-content: space-between;
}

/* Hero */
.hero {    

    background: linear-gradient( rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08) ), url("../img/nate-watson-Ib_nblJ2Jis-unsplash.jpg") center;
    height: 550px;
}

.hero-text {
    text-align: center;
    margin-bottom: 200px;
    color: var(--dark-color)
}

.hero-text h1 {
    font-size: 3rem;
}

.hero-text p {
    font-style: italic;
}

/* Showcase */
.showcase {
    background-color: var(--white);
    padding: 30px;
}
.showcase .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.top-showcase {
    margin-bottom: 2rem;
}

.showcase-img {
    flex: 1;
    
}
.showcase-text {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.showcase-text h1, .showcase-text h3{
    color: var(--primary-color);
}

.about-showcase {
    min-height: 536px;
}

.static {
    justify-self: start;
    align-self: flex-start;
    margin-top: 2rem;
}

.about-img {
    width: 500px;
}

.mission li, .action li {
    padding-bottom: 4px;
}
/* Cards */
.card-headings {
    display: flex;
    justify-content: space-evenly;
    border-bottom: var(--light-color) 1px solid;
}

.card-headings h4 {
    color: var(--primary-color);
}

.headings-dark h4 {
    color:  #d3aa96;

}

.card-headings .btn-outline-border {
    border-right: var(--light-color) 1px solid;
}

.covid19-card, .move-in-card {
    text-align: center;
}

/* Card Body Display */
.card-body-tab {
    line-height: 1.4rem;
    max-height: 0px;
    overflow: hidden;
    transition: max-height .4s ease-out;
    animation: fade .5 ease-out;
    opacity: .0;  
}

.active-card {
    padding: 6px;
    max-height: 648px;
    transition: max-height 1.2s ease-in; 
    animation: appear 1s ease-in; 
    opacity: 1;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



.active :first-child{
    color: var(--primary-color);
   
}

/* Card body Display Resources */
.card-body {
    line-height: 1.4rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease-out;
}

.active-card-sm {
    padding: 6px;
    max-height: 102px;
    transition: max-height .5s ease-in;
}

.active-card-md {
    padding: 6px;
    max-height: 386px;
    transition: max-height .5s ease-in;
}

.active-card-lg {
    padding: 6px;
    max-height: 512px;
    transition: max-height .5s ease-in;
}




/* Crossbar */
.crossbar {
    background-color: rgb(245, 243, 243);
    color: var(--dark-color);
    text-align: center;
    padding: 1rem;
}

/* Resources */
.full-btn {
    width: 100%;
    height: 100%;
}

.resources-btn {
    text-align: center;
}

.protected-groups {
    padding-bottom: .8rem;
    text-decoration: underline;
}

.move-in-titles, .move-in-text {
    text-align: left;
}

/* Ratings Table */
table {
    border-collapse: collapse;
}

th {
    text-align: inherit;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-bottom: 1px #dee2e6 solid;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

.table .table {
    background-color: #fff;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-details {
    color: var(--primary-color);
}

.table-details:hover {
    opacity: .9;
    box-shadow: yellow;
}

.short-text {
    display: none;
}

/* Add rating */
#description {
    width: 284px; 
    height: 155px
}

.sub-btn {
    font-size: 16px;
    padding: 12px 40px;
}

.temp {
    animation: fade 1s;
    animation-delay: 3s;
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

 
/* Forward  From https://ianlunn.github.io/Hover/ */
.hvr-forward {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  .hvr-float-shadow {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
  }
  .hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
  }
  .hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
  }
  .hvr-grow {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

/* Footer */
footer {
    background-color: var(--primary-color);
    position: absolute;
    bottom: 0;
    width: 100%;
   
}



/* Tablets and under */
@media(max-width: 768px) {

    .wrapper {
        padding-bottom: 220px;
    }

    .container {
        padding: auto;
        overflow: hidden;
    }

    .showcase > .flex{
      flex-direction: column;
        gap: 0px;
    }
    
    

    .tablet-second {
        order:2;
    }

    .showcase-text {
        margin: 1rem;

    }

    .showcase-img{
        margin: 1rem;
    }
    .flex-hide {
        display:none;
    }

    .navbar {
        height: auto;
        margin-bottom: 1rem;

    }

    .navbar .flex {
        flex-direction: column;
    }

    .navbar ul {
        margin-top: 1rem;
    }

    nav li {
        flex: 1;
        justify-self: center;
        align-self: center;
        text-align: center;
        margin: .4rem;
    }

    .nav a:hover {
        border-bottom: none;
        transform: scale(0.98);
    }
    
    .active-card-md {
        padding: 6px;
        max-height: 504px;
        transition: max-height .5s ease-in;
    }
    
    .active-card-lg {
        padding: 6px;
        max-height: 924px;
        transition: max-height .5s ease-in;
    }

    .tablet-col {
        flex-direction: column;
    }

    .date-header, .date-body {
        display: none;
    }

    .back-btn {
        order: 2;
    }
    
    .sm-order-1 {
        order: -1;
    }

}

/* Middle Breakpoint */
@media(max-width: 615px) {
     .security-deposit-card > .flex-row, .fair-housing-card > .flex-row{
        flex-direction: column;
    }
}

/* Mobile */
@media(max-width: 500px) {
    
    .wrapper {
        padding-bottom: 280px;
    }
    .navbar {
        height: auto;
        width: auto;
        overflow: hidden;
    }
    
    .nav a {
        color: var(--dark-color);
        padding: 0;
        margin: 0;
        font-weight: bold;
        text-align: center;
    }
    
    .navbar .flex {
        justify-content: space-between;
    }

    .showcase-img {
        display: none;
    }

    .home-showcase{
        margin: 0;
        padding: 1rem 1rem 0 1rem;
    }

    .top-showcase {
        margin-bottom: 0;
    }
    
    .about-showcase {
        padding: 0;
    }

    .resources-container {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .flex-row {
        flex-direction: column;
    }
    
    .flex-row > .mx-5 {
        margin: 0 2rem;
    }

    .example-text {
        border-top: 1px solid var(--light-color);
    }

    .deposit-titles, .move-in-titles {
        font-size: 1.1rem;
    }

    .deposit-text, .move-in-text {
        margin-bottom: 1rem;
    }
    .full-text {
        display:none;
    }

    .short-text {
        display: inline-block;
    }
    
    #email {
        margin-left: 2rem;
    }
    
    .adm-delete, .adm-delete-body {
        display: none;
    }

    .adm-all-verify, .adm-all-verify-body {
        display: none;
    }



}