@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary-color: #f26724;
    --blue-complimentary: #188EF2;
    --white: #fff;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --complimentary-red: #DB3B16;
}

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.body {
    color: #333;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}


a {
    text-decoration: none;
    color: #333;
}

h1, h2, h3{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo {
    height: 60px;
    width: auto;
}

/* Navbar */
.navbar {
    margin: 5px;
    background-color: var(--white);
    color: var(--darks-color);
    height: 70px;
}

.navbar ul {
    display: flex;
}

.nav a {
    color: var(--dark-color);
    padding: 10px;
    margin: 0 5px;
    font-weight: bold;
}

.nav a:hover {
    border-bottom: 2px var(--primary-color) solid;
}

.navbar .flex {
    justify-content: space-between;
}

/* Hero */
.hero {
    background: url("../img/nate-watson-Ib_nblJ2Jis-unsplash.jpg") center ;
    height: 550px;
    
}

.hero-text {
    text-align: center;
    margin-bottom: 200px;
    color: var(--dark-color)
}

.hero-text h1 {
    font-size: 3rem;
}

.hero-text p {
    font-style: italic;
}

/* Showcase */
.showcase {
    background-color: var(--white);
    padding: 30px;
}
.showcase .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.showcase-img {
    flex: 1;
    
}
.showcase-text {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.showcase-text h1, .showcase-text h3{
    color: var(--primary-color);
}

.about-showcase {
    min-height: 536px;
}

.static {
    justify-self: start;
    align-self: flex-start;
    margin-top: 2rem;
}
.mission li, .action li {
    padding-bottom: 4px;
}
/* Cards */
.card-headings {
    display: flex;
    justify-content: space-evenly;
    border-bottom: var(--light-color) 1px solid;
}

.card-headings h4 {
    color: var(--primary-color);
}

.headings-dark h4 {
    color:  #d3aa96;

}

.card-headings .btn-outline-border {
    border-right: var(--light-color) 1px solid;
}

.covid19-card, .move-in-card {
    text-align: center;
}
/* Card Body Display */
.card-body {
    display:none;
}
.active-card {
    display: inline;
    padding: 6px;
}
.active :first-child{
     color: var(--primary-color);
    
}

/* Crossbar */
.crossbar {
    background-color: rgb(245, 243, 243);
    color: var(--dark-color);
    text-align: center;
    padding: 1rem;
}

/* Resources */
.full-btn {
    width: 100%;
    height: 100%;
}

.resources-btn {
    text-align: center;
}

.protected-groups {
    padding-bottom: .8rem;
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: var(--primary-color);
}



/* Tablets and under */
@media(max-width: 768px) {
    .container {
        padding: 0 20px;
        overflow: hidden;
    }
    
    .showcase > .flex{
      flex-direction: column;
        gap: 0px;
    }

    .tablet-second {
        order:2;
    }

    .showcase-text {
        margin: 1rem;

    }

    .showcase-img{
        margin: 1rem;
    }
    .flex-hide {
        display:none;
    }

    .navbar {
        height: auto;
        margin-bottom: 1rem;

    }

    .navbar .flex {
        flex-direction: column;
    }

    .navbar ul {
        margin-top: 1rem;
    }

    .nav a:hover {
        border-bottom: none;
    }

}

/* Mobile */
@media(max-width: 500px) {
    
    .navbar {
        height: auto;
        width: auto;
        overflow: hidden;
    }

    
    

    nav li {
        border: var(--light-color) solid 2px;
    }
    
    nav a {
        color: var(--dark-color);
        padding: 0;
        margin: 0;
        font-weight: bold;
        text-align: center;
    }
    

    
    .navbar .flex {
        justify-content: space-between;
    }

    .showcase-img {
        display: none;
    }
    
}